@{
    Layout = "_Layout";
}
@model IEnumerable<contentfulPOC.Models.Lesson>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Lessons
    </p>
    @foreach (var lesson in Model)
    {
        <p>@lesson.Title</p>
    }
</div>